<nav>
    <h1>Open Source Wtf?!</h1>
    <ul>
        <li><%= link_to "Why contribute?", why_open_source_path  %></li>
        <li><%= link_to "Your first pull request", first_pull_request_path  %></li>
        <li><%= link_to "Resources and events", resources_path  %></li>
    </ul>
</nav>