<div class="issues-list">
    <ul>  
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Ruby</li>
        <li>Python</li>
    </ul>
</div>

<h2>Issues</h2>
<ul id="issues">

</ul>