<div class="issues-list">
    <ul>  
        <li id="html" class="active">HTML</li>
        <li id="css">CSS</li>
        <li id="javascript">Javascript</li>
        <li id="ruby">Ruby</li>
        <li id="python">Python</li>
    </ul>
</div>

    <div id="issues">
    <div>